@font-face {
    font-family: Bely;
    src: url(/fonts/BelyDisplay-Regular.otf);
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Montserrat;
    font-size: 18;
    color: #31302d;
    background-color: #F9F9F9;
    box-sizing: border-box;
}

h1, h2 {
    font-family: Bely;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

a {
    text-decoration: none;
    color: black
}

ul {
    list-style: none;
}

li {
    display: inline;
    width: fit-content;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bolder;
}

li:last-child {
    color:#71A894;
}

header {
    display: grid;
    grid-template-columns: 40% 1fr max-content;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "header header"
                        "banner banner-image";
    width: fit-content;
    padding: 2% 5% 5% 5%;
}

.header {
    grid-area: header;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.banner {
    grid-area: banner;
}

.banner p {
    font-size: 24px;
    color: #66645E;
}

.shadow {
    grid-area: banner-image;
    justify-self: end;
    z-index: 0;
}

.main-image {
    grid-area: banner-image;
    justify-self: end;
    margin-right: 0;
    z-index: 1;
}

.button {
    margin-top: 20px;
    padding: 25px;
    background-color: #71A894;
    border: none;
    color: white;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.by-three {
    display: grid; 
    grid-template-rows: 20% 15% 1fr;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
    margin: 0 5% 1% 5%;
}

.subtitle {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
}

.description {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    max-width: 1000px;
    text-align: center;
}

.card-1 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.card-2 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.card-3 {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.card-1, .card-2, .card-3 {
    max-width: 400px;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    background-color: white;
    border-radius: 12px;
}

.card-icon {
    max-height: 80px;
}

.application-1, .application-2, .application-3 {
    max-width: 400px;
    height: fit-content;
    padding: 0 7% 7% 7%;
    text-align: left;
    background-color: white;
    border-radius: 12px;
    font-family: Roboto Mono;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    font-weight: 500;
}

.application-bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.aut {
    width: fit-content;
    padding: 2%;
    color: white; 
    background-color: #71A894;
    border-radius: 40px;
}

.apply-link {
    font-weight: 500;
}

.main-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 33.3%);
    padding: 5%;
    justify-content: space-between;
    align-items: baseline;
}

.main-body-1, .main-body-4, .main-body-5 {
    margin-top: 20%;
}

.main-body-2, .main-body-3, .main-body-6 {
    font-family: Roboto Mono;
    font-size: 16px;
}

.main-body-2 {
    justify-self: end;
    display: grid;
}

.members-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: end;
    max-width: 480px;
    min-width: 430px;
    max-height: 400px;
    min-height: 320px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    background-color: #F9F9F9;
    border: 4px solid #31302d;
    border-radius: 16px; 
    z-index: 1;
}

.shadow-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    align-self: end;
    height: 330px;
    width: 480px;
    margin-left: 5%;
    background-color: #71A894;
    border-radius: 16px;
    z-index: 0;
}

.members-1 h3 {
    margin: 20px 0 25px 25px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    font-size: 32px;
}

.members {
    padding-left: 25px;
    max-width: 72px;
}

.member-info {
    margin-top: 5px;
}

.name {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
}

.shares {
    margin-top: 5px;
    color: #66645E;
    text-transform: uppercase;
}

.main-body-3 {
    max-width: 420px;
    min-width: 400px;
    max-height: 400px;
    min-height: 320px;
    padding: 3%;
    background-color: #F9F9F9;
    border: 4px solid #31302d;
    border-radius: 16px; 
}

.one-member {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
}

.one-member img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.member-job {
    margin: 0;
    color: #66645E;
}

.member-description {
    max-width: 400px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat (3, 1fr);
}

.figures {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}

.member-button {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    justify-self: center;
    padding: 3% 25% 3% 25%;
    margin-top: 25px;
    background-color: #31302d;
    border: none;
    color: white;
    border-radius: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

.main-body-6 {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 60%;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.member-card-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    max-width: 520px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 45px 1fr;
    align-items: center;
    padding-left: 15px;
    background-color: #F9F9F9;
    border: 4px solid #31302d;
    border-radius: 16px; 
}

.member-card-1 h5 {
    font-size: 16px;
}

.member-card-1 p {
    margin-top: 0;
    font-size: 15px;
}

.member-card-2 {
    max-width: 420px;
    min-width: 300px;
    max-height: 280px;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: start;
    align-items: center;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #F3F0EA;
    border: 4px solid #31302d;
    border-radius: 16px; 
    font-size: 16px;
    font-weight: 500;
}

.member-card-2 h4 {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    margin: 5px;
}

.star {
    max-width: 16px;
}

.member-card-3 {
    min-width: 200px;
    max-height: 280px;
    padding: 5px;
    justify-self: start;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35% repeat(2, 10%) 25% 20%;
    align-items: center;
    justify-items: center;
    background-color: #F9F9F9;
    border: 4px solid #71A894;
    border-radius: 16px; 
}

.card-3-image {
    min-height: 52px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

#card-3-name {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 15px;
    font-weight: 500;
}

.member-card-3 .member-job {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    font-size: 13px;
}

.member-card-3 p {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    font-size: 13px;
}

.commits {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.member-card-3 .member-button {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    padding: 5% 15% 5% 15%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    justify-items: center;
}

.divider {
    width: 100vw;
    margin: 0;
    padding-top: 35px;
}

.bottom-button {
    background-color: #31302d;
    border: none;
    color: white;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
}

footer {
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px;
    grid-template-areas: "footer-1 footer-image"
                        "footer-2 footer-2";
    align-items: end;
}

.footer-2 {
    grid-area: footer-2;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
}

.footer-image {
    display: grid;
    align-self: end;
}